.email-check{
    margin-top: 5vh;
    min-height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.no-email, .message, .sent-email, .verified{
    margin: 0px;
    text-align:center;
    color:#fff;
    margin-bottom:10px;
}

.verified a{

    text-decoration:none;

    color:#345612;

    font-weight:bold;

    margin-left:6px;

}